h1{
    margin-bottom: 10px;
}
input{
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}
.Cargando{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    div{
        width: 10px;
        height: 10px;
        animation: animacion 1s infinite;
        border-top: solid 3px red;
        border-radius: 100%;
    }
}

.error{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 20px;
    margin: 10px;
}
@keyframes animacion{
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}

table{
    width: 100%;
    border: solid 1px;
    border-collapse: collapse;
    th, tr, td{
        border: solid 1px;
        padding: 5px;
        text-align: center;
    }

    th{
        font-size: 30px;
        background-color: gray;
    }
    td{
        font-size: 20px;
    }
}