:root{color-scheme:light dark}body{margin:0;padding:10px 30px;height:100vh;box-sizing:border-box}body app-root{display:flex;flex-direction:column;height:100%}body app-root main{flex:1}h1{text-align:center;margin:0;padding:0}
