.juego{
    max-width: 1200px;
    width: max-content;
    margin: auto;
    font-size: 30px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .columnas{
        display: flex;
        flex-direction: row;
        div{
            padding: 10px;
            min-width: 60px;
            min-height: 60px;
            background-color: rgb(4, 100, 100);
            border: 1px black solid;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            user-select: none;
            &.disponible{
                cursor: pointer;
                &:hover{
                    background-color: rgb(129, 112, 112);
                }
            }
        }
    }
    button{
        cursor: pointer;
        margin-bottom: 5px;
    }
}